body {
    background-color: black;
}
.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}
.ryu {
  float:left;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 
.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
    background-image:url('/Users/whyip/jQuery-streetfighter/images/ryu-cool.gif')
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display:none;
  float: left;
  top:167px;
  left:-212px;
  position:relative;

}
.instruction {
    position: absolute;
    left:800px;
    padding: 40px;
    font-family:sans-serif;
    font-size: 24px;
    line-height:50px;
}